/* 
    Document   : main
    Created on : 25-feb-2013, 11.26.06
    Author     : Francesco
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}


.article {
    background-color: rgb(238, 238, 238);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 5px 5px;
    margin: 15px 0;
    padding: 10px 20px;
    position: relative;    
}

.SAPrints {
    border: 8px double navy;
    padding: 5px;
    margin: 5px;
    width: 250px;    
}

#descriptions {
    top:0px;
    right: 40px;
    position:absolute;
}